{% extends "bootstrap/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block styles %}
    <link rel="stylesheet"
          href="/static/css/bootstrap.min.css">
{% endblock %}
{% block navbar %}
  {{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
    <div id="content" class="container-fluid">
      <div class="row">
        <!--left-->
        <div class="col-md-3" id="leftCol">
          <ul class="nav nav-stacked" id="sidebar">
            <li>
              <label>Filter rules:</label>
            </li>
            <li>
              <form method="post" action="/test">
<!--                 <div class="form-inline">
                  <select class="form-control" id="rules">
                    <option>{{name}}</option>
                    <option>Huang Peter2</option>
                  </select>
                  <button id="proceed" type="submit" class="btn btn-default">Proceed</button>
                </div> -->
                <p>
                  用户：{{form.name(size=20,id='name')}}
                  {%for e in form.name.errors%}
                  <span style="color: red">*{{e}}</span>
                  {%endfor%}
                </p>
                <p> 
                  密码：{{form.password(size=20,id='password')}}
                  {%for e in form.password.errors%}
                  <span style="color: red">*{{e}}</span>
                  {%endfor%}
                </p>
                <p><button style="float: right" type="submit">登录</button></p>
              </form>
            </li>
            <li><hr></li>
            <li>
              <form enctype="multipart/form-data" method="POST" action="">
                <label class="control-label">Select Source</label>
                <input name="inputsource" type="file" class="file">
              </form>
            </li>
          </ul>
        </div><!--/left-->

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Filter Report</div>
                <div class="panel-body">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Step</th>
                        <th>Result</th>
                      </tr>
                    </thead>
                    <tbody id="analyzeReport">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      </div><!--/row-->
    </div>
{% endblock %}